.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  background-origin: var(--cyan-300);
}

.sectionLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 7rem;

  div {
    h1 {
      span {
        color: var(--red-100);
        font-weight: bold;
      }
    }
    hr {
      width: 4rem;
      margin: 1rem 0;

      height: 0.4rem;
      background-color: #ffffff;

      border: none;
    }
  }
  div {
    h2 {
      font-size: 0.9rem;
      margin-bottom: 1rem;

      span {
        color: var(--red-100);
        font-weight: bold;
      }
    }
  }
  .pros {
    span {
      color: var(--red-100);
      font-weight: bold;
    }

    p {
      margin-top: 1rem;
      font-weight: bold;
    }
  }
}

.sectionRight {
  width: 50%;
  height: 20.75rem;
  background-color: #5affa4;
  margin: 0;
}


@media (max-width: 990px) {
  .main{
    display: flex;
    flex-direction: column;
  }

  .sectionLeft{
    width: 100%;
    padding: 0;
  }

  .sectionRight{
    width: 100%;
  }
}