.main {
  display: flex;
  align-items: center;
}

.right {
  margin-left: 3rem;

  h1 {
    span {
      color: var(--red-100);
      font-weight: bold;
    }
  }
  hr {
    width: 4rem;
    margin: 1rem 0;

    height: 0.4rem;
    background-color: #ffffff;

    border: none;
  }

  h2 {
    font-size: 0.9rem;
    margin-bottom: 1rem;

    span {
      color: var(--red-100);
      font-weight: bold;
    }
  }
}
.pros {
  span {
    color: var(--red-100);
    font-weight: bolder;
    font-weight: bolder;
  }

  p {
    margin-top: 1rem;
    font-weight: bold;
  }

  .spanP {
    font-weight: bold;
    color: black;
  }
}
