.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--red-100);
}

.selling {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .contacts {
    padding: 3rem 0;
    padding-right: 1rem;

    h1 {
      font-size: 1.6rem;
      font-weight: bold;
    }

    hr {
      width: 4rem;
      margin: 1rem 0;

      height: 0.4rem;
      background-color: var(--cyan-300);

      border: none;
    }

    h2 {
      font-size: 1rem;
      color: #ffffff;
      margin-bottom: 2rem;
    }

    .icons {
      display: flex;
      align-items: center;
      justify-content: center;

      .divWhatsApp {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 0.5rem;

        height: auto;

        background-color: #5affa4;

        span {
          color: var(--white);
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
    }
  }

  div {
    h4 {
      color: var(--white);
      font-size: 4rem;
      font-weight: bold;
      margin: 0 2rem;
    }
  }

  .form {
    display: flex;
    flex-direction: column;

    padding: 1.5rem 1rem;

    h2 {
      color: var(--white);
      font-weight: 300;
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    form {
      overflow: hidden;

      .inputs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.7rem;
      }

      .input {
        display: flex;
        flex-direction: column;

        input {
          height: 2.5rem;
        }
      }

      span {
        color: var(--yellow-500);
        font-weight: bolder;
      }

      .selectButton {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;

        select {
          border: none;

          height: 2rem;
        }

        button {
          margin-top: 0.8rem;
          border: none;

          height: 2rem;
          background-color: var(--yellow-500);

          color: var(--white);
          font-size: 1rem;
          font-weight: 900;
        }
      }
    }
  }
}

.footer {
  width: 100%;
  background-color: #14142d;
  color: white;

  .div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mapSite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;

    h3 {
      color: #68dcfe;
      margin-bottom: 1rem;
    }
  }

  .aboutUs {
    width: 12.5rem;

    h3 {
      color: #68dcfe;
      margin-bottom: 1rem;
    }
  }

  .logo {
    padding: 1rem;
    margin: auto 0;
  }

  .social {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .icons {
      display: flex;
    }

    .email {
      margin-top: 2rem;
      input {
        width: 18rem;
        height: 2rem;
        border: none;
      }

      button {
        border: none;
        height: 2rem;
        width: 2rem;

        text-align: center;
        text-decoration: none;

        background-color: #ffde50;
      }
    }
  }
  .copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    background-color: #0f0f22;
    padding: 0.8rem;
  }
}

@media (max-width: 990px) {
  .selling {
    flex-direction: column;
  }
}

@media (max-width: 425px) {
  .div {
    display: flex;
    flex-direction: column;

    padding: 0;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .selling {
    .or {
      display: none;
    }

    .contacts .icons .divWhatsApp {
      display: none;
    }

    .form {
      display: none;
    }
  }
}
