.container {
  max-width: 10rem;
  width: 100%;
  height: 3rem;

  border: none;

  font: 1.3rem "Roboto", sans-serif;
  color: var(--gray-100);

  background-color: var(--yellow-300);

  transition: 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}

@media (max-width: 990px) {
  .container {
    margin-left: 6rem;
  }
}
